<header>

    <a href="index.html"><img src="assets/img/log.png" alt="log" id="logo"></a>
    

    <form id="pesq">
            <input type="text" id="pesquisar" onkeyup="myFunction()" placeholder="Pesquisar" autocomplete="off">
           

            <ul id="lista" style="display:none">
                <li><a href="jogar.html">BowLing</a></li>
                <li><a href="jogar.html">Color Tunnel</a></li>
                <li><a href="jogar.html">Bouncy Race</a></li>
                <li><a href="jogar.html">SquidGame</a></li>
                <li><a href="jogar.html">Street Hoops</a></li>
                <li><a href="jogar.html">Soccer Skills</a></li>
                <li><a href="jogar.html">Run Rich</a></li>
                <li><a href="jogar.html">Parkour Block</a></li>
                <li><a href="jogar.html">Tunnel Rush</a></li>
                <li><a href="jogar.html">Ski Challenge</a></li>
                <li><a href="jogar.html">Subway Surfers</a></li>
                <li><a href="jogar.html">Muscle Race</a></li>
                <li><a href="jogar.html">Space Rush</a></li>
                <li><a href="jogar.html">Zombie Days</a></li>
                <li><a href="jogar.html">Raft Wars</a></li>
                <li><a href="jogar.html">Family Farm</a></li>
                <li><a href="jogar.html">Raft Wars 2</a></li>
                <li><a href="jogar.html">Forest Temple</a></li>
                <li><a href="jogar.html">Dynamons World</a></li>
                <li><a href="jogar.html">Imposter</a></li>
                <li><a href="jogar.html">Age Of War</a></li>
                <li><a href="jogar.html">Killer Assassin</a></li>
                <li><a href="jogar.html">Killer City</a></li>
                <li><a href="jogar.html">Red Ball 5</a></li>
                <li><a href="jogar.html">Adam And Eve 2</a></li>
                <li><a href="jogar.html">Angry Birds</a></li>
                <li><a href="jogar.html">Apple Shooter</a></li>
                <li><a href="jogar.html">Druken Duel</a></li>
                <li><a href="jogar.html">Fireboy And WaterGirl</a></li>
                <li><a href="jogar.html">Ninja Boy</a></li>
                <li><a href="jogar.html">Pig Ball</a></li>
                <li><a href="jogar.html">Puppy Battle</a></li>
                <li><a href="jogar.html">Santa adventure</a></li>
                <li><a href="jogar.html">Sausage Dog</a></li>
                <li><a href="jogar.html">Super Hit Masters</a></li>
                <li><a href="jogar.html">Ultimate Boxing</a></li>
                <li><a href="jogar.html">Car Defender</a></li>
                <li><a href="jogar.html">Rally Point</a></li>
                <li><a href="jogar.html">Jeep Driver</a></li>
                <li><a href="jogar.html">Drift Race</a></li>
                <li><a href="jogar.html">Park Wheels</a></li>
                <li><a href="jogar.html">Control Mobile</a></li>
                <li><a href="jogar.html">Race 3D</a></li>
                <li><a href="jogar.html">Retro Speed</a></li>
                <li><a href="jogar.html">Retro Speed 2</a></li>
                <li><a href="jogar.html">Nitro Rally Time</a></li>
                <li><a href="jogar.html">Drift Parking</a></li>
                <li><a href="jogar.html">Speed Racer</a></li>
                <li><a href="jogar.html">Cake Bar 2</a></li>
                <li><a href="jogar.html">Cake Maker Shop</a></li>
                <li><a href="jogar.html">Cooking With</a></li>
                <li><a href="jogar.html">Cooking With 2</a></li>
                <li><a href="jogar.html">Cooking With 3</a></li>
                <li><a href="jogar.html">Froyo Bar</a></li>
                <li><a href="jogar.html">Hello Kitty</a></li>
                <li><a href="jogar.html">Penquin Diner</a></li>
                <li><a href="jogar.html">Pizza Cafe</a></li>
                <li><a href="jogar.html">Ultra Pixel</a></li>
                <li><a href="jogar.html">Yummy Cupcake</a></li>
                <li><a href="jogar.html">Ultimate Boxing</a></li>
                <li><a href="jogar.html">Free Kick World</a></li>
                <li><a href="jogar.html">Blaze Kick</a></li>
                <li><a href="jogar.html">CheerLeaders</a></li>
                <li><a href="jogar.html">Euro Keeper</a></li>
                <li><a href="jogar.html">FootBall Heads</a></li>
                <li><a href="jogar.html">FootBall KickOff</a></li>
                <li><a href="jogar.html">FootBall Legends</a></li>
                <li><a href="jogar.html">Keepy Ups Soccer</a></li>
                <li><a href="jogar.html">Lob Master</a></li>
                <li><a href="jogar.html">Soccer Heroes</a></li>
                <li><a href="jogar.html">Soccer Skills</a></li>
                <li><a href="jogar.html">SoccerTastic</a></li>
                <li><a href="jogar.html">Battalion</a></li>
                <li><a href="jogar.html"></a>Big Hunter</li>
                <li><a href="jogar.html"></a>Drunken</li>
                <li><a href="jogar.html">Extreme Thumb</a></li>
                <li><a href="jogar.html">Gotia Io</a></li>
                <li><a href="jogar.html">Linker Hero</a></li>
                <li><a href="jogar.html">Rocket Punch 2</a></li>
                <li><a href="jogar.html">Renegade Brawl</a></li>
                <li><a href="jogar.html">Stickman</a></li>
                <li><a href="jogar.html">Ultimate Boxing</a></li>
                <li><a href="jogar.html">Weapon Io</a></li>
                <li><a href="jogar.html">Zombie Idle</a></li>
                <li><a href="jogar.html">CheerLeaders School</a></li>
                <li><a href="jogar.html">Crazy Professor</a></li>
                <li><a href="jogar.html">Cute Family</a></li>
                <li><a href="jogar.html">Dotted Girl</a></li>
                <li><a href="jogar.html">Funny Daycare</a></li>
                <li><a href="jogar.html">High Fashion</a></li>
                <li><a href="jogar.html">Makeover</a></li>
                <li><a href="jogar.html">Marie Become</a></li>
                <li><a href="jogar.html">Monster Popsy</a></li>
                <li><a href="jogar.html">Little Dragon</a></li>
                <li><a href="jogar.html">Shark Show</a></li>
                <li><a href="jogar.html">Spa Salon</a></li>
                <li><a href="jogar.html">Amogus Io</a></li>
                <li><a href="jogar.html">Among Us Online</a></li>
                <li><a href="jogar.html">Bouncy Race 3D</a></li>
                <li><a href="jogar.html">Harvest Honors</a></li>
                <li><a href="jogar.html">Impostor Io</a></li>
                <li><a href="jogar.html">Kingdom Of Pixels</a></li>
                <li><a href="jogar.html">Muscle Race</a></li>
                <li><a href="jogar.html">Pop It Duel</a></li>
                <li><a href="jogar.html">Santadays Christmas</a></li>
                <li><a href="jogar.html">SquidGame</a></li>
                <li><a href="jogar.html">Stair Race</a></li>
                <li><a href="jogar.html">Vegas Clash</a></li>
                <li><a href="jogar.html">10x10 Classic</a></li>
                <li><a href="jogar.html">10x10 Winter</a></li>
                <li><a href="jogar.html">Alchemist Lab</a></li>
                <li><a href="jogar.html">Bubble Woods</a></li>
                <li><a href="jogar.html">Candy Star Jelly</a></li>
                <li><a href="jogar.html">Diamond Match</a></li>
                <li><a href="jogar.html">Diamond Rush</a></li>
                <li><a href="jogar.html">Howdy Farm</a></li>
                <li><a href="jogar.html">Jewel Christmas</a></li>
                <li><a href="jogar.html">Jewel Master</a></li>
                <li><a href="jogar.html">Riddle Cubes</a></li>
                <li><a href="jogar.html">Twirl</a></li>
                <li><a href="jogar.html">Awesome Run 2</a></li>
                <li><a href="jogar.html">Blitz Tactics</a></li>
                <li><a href="jogar.html">Brave Squad</a></li>
                <li><a href="jogar.html">Hero Clicker</a></li>
                <li><a href="jogar.html">Hero Simulator</a></li>
                <li><a href="jogar.html">Keep Out</a></li>
                <li><a href="jogar.html">Matching Card</a></li>
                <li><a href="jogar.html">Mini Guardians</a></li>
                <li><a href="jogar.html">Rogue Tail</a></li>
                <li><a href="jogar.html">Tap Monsters</a></li>
                <li><a href="jogar.html">Pixel Survive</a></li>
                <li><a href="jogar.html">Pixel Survive 2</a></li>
                <li><a href="jogar.html">Archerry</a></li>
                <li><a href="jogar.html">Cannon Hero</a></li>
                <li><a href="jogar.html">Duck Hunt</a></li>
                <li><a href="jogar.html">Galactians 2</a></li>
                <li><a href="jogar.html">Grottyscape</a></li>
                <li><a href="jogar.html">Gun Blood</a></li>
                <li><a href="jogar.html">Guns And Bottles</a></li>
                <li><a href="jogar.html">King Soldiers</a></li>
                <li><a href="jogar.html">Mini Shooters</a></li>
                <li><a href="jogar.html">MoorHuhn</a></li>
                <li><a href="jogar.html">RoofTop</a></li>
                <li><a href="jogar.html">Sniper Shooter</a></li>
            </ul>
    </form>

    <a href="login.html" class="loginCadastro">Login/Cadastre-se</a>
    <a href="login.html"><img src="assets/img/user.png" alt="user" id="user"></a>

    <a href="categorias.html"><img src="assets/img/menu.png" alt="menu" id="menu"></a>

    <a href="favoritos.html"><img src="assets/img/favoritos.png" alt="favoritos" id="favoritos"></a>
</header>
